<html>
	<head>
		<link href="bootstrap.min.css" rel="stylesheet" />
	</head>
	<body>
		<div class="container m-3">
			<a type="button" class="btn btn-primary" href="/">Home</a>
			<h3>FIT2095 Operation</h3>
		</div>
		<div class="container m-3">
			<table class="table">
				<thead class="table-dark">
					<tr>
						<th>Operation</th>
						<th>URL Example</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Add Parcel</td>
						<td>http://localhost:8080/addparcel?sender=Harry&address=Melbourne</td>
					</tr>
					<tr>
						<td>List Parcels</td>
						<td>http://localhost:8080/getparcels</td>
					</tr>
          <tr>
						<td>Delete Parcel</td>
						<td>http://localhost:8080/deleteid/100</td>
					</tr>
				</tbody>
			</table>
		</div>
	</body>
</html>