<html>
	<head>
		<title>FIT2095 Library Database System</title>
		<link href="bootstrap.min.css" rel="stylesheet" />
	</head>

	<body style="background-image: url('background.jpeg')">
		<div class="album py-5">
			<div class="container">
				<a type="button" class="btn btn-primary" href="/">Home</a>
				<h3 class="my-2">FIT2095 Library Database System</h3>
				<a class="btn btn-success" href="/add-book">Add New Book</a>
				<a class="btn btn-success" href="/view-books">View All Books</a>
			</div>
		</div>
	</body>
</html>