<html>
        <head>
    <link rel="stylesheet" href="lab.css">
</head>
<body>
    <h1>New Addition</h1>
     <a href="/"> HOME</a>
    <form action="addition" method="POST">
        <table>
            <tr>
                <td> <label>Operand 1</label></td>
                <td> <input type="number" name="no1" /></td>
            </tr>
            <tr>
                <td> <label></label> Operand 2</label></td>
                <td> <input type="number" name="no2" /></td>
            </tr>
            <tr>
                <td> <button>Submit</button></label></td>
            </tr>
        </table> 
    </form>
</body>
</html>