<html>
	<body>
		<a href="/">Home</a>
		<h3>Topics</h3>
    <p>Describe the current technological options with respect to e-business application development and the most likely trends going forward;</p>
    <p>Analyse and debug existing e-Business applications;</p>
    <p>Design, code and test basic e-Business applications using current industrial strength techniques;</p>
    <p>Describe and use some of the core APIs used in e-Business applications;</p>
    <p>Apply good programming practices in accordance with industry standards and professional ethics.</p>
	</body>
</html>
