<html>
	<head>
		<link href="bootstrap.min.css" rel="stylesheet" />
	</head>
	<body>
		<div class="container m-3">
			<h3>FIT2095 Shopping</h3>
		</div>
		<div class="container m-3">
			<table class="table">
				<thead class="table-dark">
					<tr>
						<th>Grocery Address</th>
						<th>Name</th>
						<th>ID</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Lygon Court, 368/380 Lygon St, Carlton VIC 3053</td>
						<td>Oliver Huang</td>
						<td>35182776</td>
					</tr>
				</tbody>
			</table>
		</div>
	</body>
</html>