<html>
	<head>
		<link href="bootstrap.min.css" rel="stylesheet" />
	</head>
	<body>
		<div class="container m-3">
			<a type="button" class="btn btn-primary" href="/">Home</a>
			<h3>FIT2095 Operation</h3>
		</div>
		<div class="container m-3">
			<table class="table">
				<thead class="table-dark">
					<tr>
						<th>Operation</th>
						<th>URL Example</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>addition</td>
						<td>http://localhost:8080/add/4/2</td>
					</tr>
					<tr>
						<td>Subtraction</td>
						<td>http://localhost:8080/sub?x=5&y=3</td>
					</tr>
				</tbody>
			</table>
		</div>
	</body>
</html>